{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="mb-4">Documentos Disponibles</h2>
        {% if current_user.role.name == 'Editor' or current_user.role.name == 'Administrador' %}
        <a href="{{ url_for('routes.upload') }}" class="btn btn-success mb-3">Subir Nuevo Documento</a>
        {% endif %}
        
        {% if files %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del Archivo</th>
                    <th>Es Público</th>
                    <th>Propietario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for file, is_public, owner_name in files %}
                <tr>
                    <td>{{ file }}</td>
                    <td>{{ 'Sí' if is_public else 'No' }}</td>
                    <td>{{ owner_name }}</td>
                    <td>
                        <a href="{{ url_for('routes.download_file', filename=file) }}" class="btn btn-primary btn-sm">Descargar</a>
                        {% if current_user.role.name == 'Administrador' or owner_name == current_user.username %}
                        <form method="POST" action="{{ url_for('routes.delete', filename=file) }}" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                        {% endif %}
                    </td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay documentos disponibles.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
