{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="mb-4">Subir Nuevo Documento</h2>
        {% if current_user.role.name == 'Editor' or current_user.role.name == 'Administrador' %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="file">Selecciona un archivo para subir:</label>
                {{ form.file(class="form-control") }}
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    {{ form.is_public() }} ¿Hacer el archivo público?
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Subir Archivo</button>
        </form>
        {% else %}
        <p>No tienes permisos para subir archivos.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
